@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
body {
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    min-height: 100%;
    overflow: hidden;
}

#bgimg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.temp {
    margin-top: 5px;
    font-size: 2.8em;
}

#iconz {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.temp {
    justify-content: space-between;
}

.borderit {
    border: 2px solid white;
}

div[class*="col"] {
    height: 100vh;
    border: 1px solid white;
}

#maincontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 80px;
    text-align: center;
    width: 90%;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px black red;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
}

.hum,
.windz,
.pres {
    display: flex;
}

.ic {
    margin-top: 7px;
    margin-right: 10px;
}

.info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 0.7em;
}

#searchbtn,
#convert {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    min-height: 50px;
    min-width: 100px;
    margin-bottom: 50px;
}

#searchbtn:hover {
    background-color: lightgreen;
}

#convert:hover {
    background-color: lightskyblue;
}

#searchbtn {
    background-color: green;
}

#convert {
    background-color: blue;
}

#inputf {
    width: 69%;
    margin: 20px auto;
}

#weatherStatus {
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    #maincontainer {
        width: 50%;
        padding-top: 43px;
    }
}